<script type="text/javascript">
    var table;
    var sd = [];
    var salary_details = 0;
    var add_to_total = 0;
    $().ready(function() {
        $('#AccreditationDate').datepicker({
            startDate: '',
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        });
        $('#ExpirationDate').datepicker({
            startDate: '',
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        });
        $('#formSalaryDetails').validate({
            rules: {
                RankId: {
                    required: true
                },
                Description: {
                    required: true,
                    maxlength: 30
                },
                Monthly: {
                    required: true,
                    number:true,
                    min: 0
                },
                Daily: {
                    required: true,
                    number:true,
                    min: 0
                },
                Percentage: {
                    required: true,
                    number: true,
                    min: 0
                },
                Days: {
                    required: true,
                    number: true,
                    min: 0
                }
            }
        });
        $('#imgupload').click(function () {
            $('#ImageFile').trigger('click');
        });
        $("#ImageFile").change(function () {
            readURL(this);
        });
        //get ranks
        if ($('#Id').val() == 0) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetRank", "Ranks")",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {

                    $.each(data, function(i, item) {
                        salary_details++;
                        var BasicPay = {
                            Id: salary_details,
                            RankId: item.Id,
                            RankName: item.RankName,
                            Description: "Basic Pay",
                            Monthly: 0,
                            Daily: 0,
                            Percentage: 0,
                            Days: 0,
                            Remarks: "",
                            AddToTotal: 1
                        };
                        salary_details++;
                        var Overtime = {
                            Id: salary_details,
                            RankId: item.Id,
                            RankName: item.RankName,
                            Description: "Overtime",
                            Monthly: 0,
                            Daily: 0,
                            Percentage: 0,
                            Days: 0,
                            Remarks: "",
                            AddToTotal: 1
                        };
                        sd.push(BasicPay);
                        sd.push(Overtime);
                    });
                    console.log(sd);
                    SalaryScale();
                }
            });
        } else {
            GetExistingSalaryScaleDetails();
        }
        $('#Monthly').change(function() {

            var daily = this.value / 30.41;
            $('#Daily').val(daily.toFixed(2));
        });
        //form submit
        $('#form0').submit(function(event) {
            event.preventDefault();
            $('#btnSave').attr('disabled', 'disabled');
            var url = $(this).attr("action");

            var formImage = new FormData();
            var files = $('#ImageFile')[0].files[0];
            formImage.append('ImageFile', files);
            formImage.append('PrincipalId', $('#Id').val());
            formImage.append('PrincipalCode', $('#PrincipalCode').val());

            var formData = {
                Id: $('#Id').val(),
                PrincipalCode: $('#PrincipalCode').val(),
                PrincipalName: $('#PrincipalName').val(),
                AccreditationDate: $('#AccreditationDate').val(),
                ExpirationDate: $('#ExpirationDate').val(),
                ContactPerson: $('#ContactPerson').val(),
                ContactPersonNo: $('#ContactPersonNo').val(),
                Address: $('#Address').val(),
                Phone1: $('#Phone1').val(),
                Phone2: $('#Phone2').val(),
                Fax: $('#Fax').val(),
                EmailAddress: $('#EmailAddress').val(),
                CountryId: $('#CountryId').val(),
                CBA: $('#CBA').val(),
                SalaryScaleId: $('#SalaryScaleId').val()
            };

            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ 'principal': formData, 'salarydetails': sd }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(response) {
                    SaveImage(formImage);
                    $.notify({
                        title: '<strong>Principal ' + response.Success + ' </strong>',
                        message: 'The principal has been '+response.Success +' successfully.'
                    }, {
                        type: 'success'
                    });
                    $('#form0')[0].reset();
                    setTimeout(function() {
                        location.reload();
                    }, 2000);
                },
                error: function(response) {
                    console.log(response);
                },
                complete: function() {
                    $('#btnSave').removeAttr('disabled');
                }
            });
        });


    });

    function GetExistingSalaryScaleDetails() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetSalaryScaleDetails", "Principals")",
            contentType: 'application/json; charset=utf-8',
            data:{'salaryscaleid':$('#SalaryScaleId').val()},
            dataType: 'json',
            success: function(data) {
            sd = [];
            $.each(data, function(i, item) {
                var db_data = {
                    Id: item.Id,
                    RankId: item.RankId,
                    RankName: item.RankName,
                    Description: item.Description,
                    Monthly: item.Monthly,
                    Daily: item.Daily,
                    Percentage: item.Percentage,
                    Days: item.Days,
                    Remarks: item.Remarks,
                    AddToTotal: item.AddToTotal
                };
                sd.push(db_data);
            });


            console.log(sd);
            SalaryScale();
            }
        });
    }
    function validateMyForm() {
        if ($("#RankId :selected").val() == "") return;
        if ($("#Description").val() == "") return;
        if ($("#Monthly").val() == "") return;
        if ($("#Daily").val() == "") return;
        if ($("#Percentage").val() == "") return;
        if ($("#Days").val() == "") return;

        if ($('#Id').val() == 0) {
            if ($('#IdSalaryDetails').val() != "") {
                var i = sd.findIndex((obj => obj.Id == $('#IdSalaryDetails').val()));
                sd[i].RankId = $('#RankId').val();
                sd[i].Description = $('#Description').val();
                sd[i].Monthly = $('#Monthly').val();
                sd[i].Daily = $('#Daily').val();
                sd[i].Percentage = $('#Percentage').val();
                sd[i].Days = $('#Days').val();
                sd[i].Remarks = $('#Remarks').val();
                $('#AddOrEdit').modal('hide');
                SalaryScale();

            } else {
                salary_details++;
                alert('1');
                var salary_new = {
                    Id: salary_details,
                    RankId: parseInt($("#RankId :selected").val()),
                    RankName: $("#RankId :selected").text(),
                    Description: $('#Description').val(),
                    Monthly: $('#Monthly').val(),
                    Daily: $('#Daily').val(),
                    Percentage: $('#Percentage').val(),
                    Days: $('#Days').val(),
                    Remarks: $('#Remarks').val(),
                    AddToTotal: 0
                };
                sd.push(salary_new);
                $('#AddOrEdit').modal('hide');
                SalaryScale();
            }
        } else {
            var checkBox = document.getElementById("AddToTotal");
            if (checkBox.checked == true) {
                add_to_total = 1;
            } else {
                add_to_total = 0;
            }
            var formData = {
                Id: $('#IdSalaryDetails').val(),
                RankId: parseInt($("#RankId :selected").val()),
                RankName: $("#RankId :selected").text(),
                Description: $('#Description').val(),
                Monthly: $('#Monthly').val(),
                Daily: $('#Daily').val(),
                Percentage: $('#Percentage').val(),
                Days: $('#Days').val(),
                Remarks: $('#Remarks').val(),
                SalaryScaleId: $('#SalaryScaleId').val(),
                AddToTotal: add_to_total
            };

                $.ajax({
                    url: "/Principals/SaveSalaryDetails",
                    type: "POST",
                    data: JSON.stringify(formData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {

                        $.notify({
                            title: '<strong>Salary '+ response.Success +' </strong>',
                            message: 'The salary has been '+ response.Success +' successfully.'
                        }, {
                            type: 'success'
                        });

                        $('#AddOrEdit').modal('hide');
                        GetExistingSalaryScaleDetails();
                    },
                    error: function(response) {
                        console.log(response);
                    },
                    complete: function() {
                        $('#btnSave').removeAttr('disabled');
                    }
                });


        }
    }
    function SalaryScale() {
        $("#data-table-salary").find("tr:gt(0)").remove();
        var table_salary = document.getElementById("data-table-salary");

        var markup;
        var total_row;

        var result = sd.reduce(function(r, a) {
            r[a.RankName] = r[a.RankName] || [];
            r[a.RankName].push(a);
            return r;
        }, Object.create(null));

        $.each(result, function(i, item) {
            var totalmonthly = 0;
            var totaldaily = 0;
            //var a = table_salary.insertRow().innerHTML = "<tr><td>" + item[0]["RankName"] + "</td>";
            var newArray = sd.filter(function(el) {
                return el.RankName == item[0]["RankName"];
            });
            $.each(newArray, function(j, detail) {
                if (j == 0) {
                    markup = "<tr><td>" + item[0]["RankName"] + "</td>";
                } else {
                    markup = "<tr><td></td>";
                }

                if (detail.AddToTotal == 1) {
                    totalmonthly += parseFloat(detail.Monthly);
                    totaldaily += parseFloat(detail.Daily);
                    markup += "<td>" + detail.Description + "</td>" +
                    "<td>" + detail.Monthly + "</td>" +
                    "<td>" + detail.Daily + "</td>" +
                    "<td>" + detail.Percentage + "</td>" +
                    "<td>" + detail.Days + "</td>" +
                    "<td>" + detail.Remarks + "</td>" +
                    "<td><button class='btn btn-primary' title='Edit' data-toggle='modal' data-target='#AddOrEdit' onclick='Edit(" + detail.Id + ")'><i class='fa fa-edit'></i></button></td></tr>";
                    $("#data-table-salary tbody").append(markup);
                } else {
                    markup += "<td>" + detail.Description + "</td>" +
                    "<td>" + detail.Monthly + "</td>" +
                    "<td>" + detail.Daily + "</td>" +
                    "<td>" + detail.Percentage + "</td>" +
                    "<td>" + detail.Days + "</td>" +
                    "<td>" + detail.Remarks + "</td>" +
                    "<td><button class='btn btn-primary' title='Edit' data-toggle='modal' data-target='#AddOrEdit' onclick='Edit(" + detail.Id + ")'><i class='fa fa-edit'></i></button></td></tr>";
                    $("#data-table-salary tbody").append(markup);
                }

            });
            total_row = "<tr><td></td><td><label>Total</label></td>" +
                "<td><label>" + totalmonthly.toFixed(2) + "</label></td>" +
                "<td><label>" + totaldaily.toFixed(2) + "</label></td>" +
                "<td></td>" +
                "<td></td>" +
                "<td></td>" +
                "<td></td>";
            $("#data-table-salary tbody").append(total_row);

        });
        $('#IdSalaryDetails').val(0);
        document.getElementById("AddToTotal").checked = false;
        $('#formSalaryDetails')[0].reset();
    }

//Edit Salary Details
    function Edit(id) {
        var i = sd.findIndex((obj => obj.Id == id));
        $('#IdSalaryDetails').val(sd[i].Id);
        $('#RankId').val(sd[i].RankId);
        $('#Description').val(sd[i].Description);
        $('#Monthly').val(sd[i].Monthly);
        $('#Daily').val(sd[i].Daily);
        $('#Percentage').val(sd[i].Percentage);
        $('#Days').val(sd[i].Days);
        $('#Remarks').val(sd[i].Remarks);
        if (sd[i].AddToTotal == 1) {
            document.getElementById("AddToTotal").checked = true;
        } else {
            document.getElementById("AddToTotal").checked = false;
        }
    }

    function SaveImage(formImage) {
        $.ajax({
            url: '@Url.Action("SaveImage","Principals")',
            data: formImage,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {

            }
        });
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgupload').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    function viewFile(id) {
        var folder_name = "PR"+$('#PrincipalCode').val();
        window.open("/Principals/Attachment?id=" + folder_name + "&file=" + id, "_blank", 'location=yes,height=570,width=520,scrollbars=yes,status=yes').focus();
    }
</script>

@Scripts.Render("~/AdminLTE/plugins/datepicker/script")
@Scripts.Render("~/AdminLTE/plugins/datatables/script")

