@model SeaBase.Models.VesselUnion
@Styles.Render("~/AdminLTE/plugins/datatables/styles")

@{
    ViewBag.Title = "Vessel Unions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="overlay"></div>
<div class="box">

    <!-- /.box-header -->
    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#tab_1-1" data-toggle="tab">@ViewBag.Title</a></li>
            </ul>
            <div class="tab-content">
                <table id="data-table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Vessel Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>

                </table>

            </div>
            <!-- /.tab-content -->
        </div>

    </div>
    <!-- /.box-body -->
</div>


<!-- #region modal -->

<div class="modal fade" id="AddOrEdit">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">

                @using (Ajax.BeginForm("Save", "VesselUnions", new AjaxOptions
                    {
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure"
                    }))
                    {
                    @Html.ValidationSummary(true, "Please fix the following errors.")
                    <div class="form-group">
                        @Html.LabelFor(m => m.VesselUnionName)
                        @Html.TextBoxFor(m => m.VesselUnionName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.VesselUnionName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>

                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    }

            </div>

        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- #endregion -->

@section Scripts {
    @RenderPage("~/Views/VesselUnions/ListScript.cshtml")
}



