@using SeaBase.Models
@model SeaBase.ViewModel.ApplicantViewModel


<div class="panel panel-default">
    <div class="panel-heading">Licenses</div>
    <div class="panel-body">


        <div class="tab-content">
            <table id="data-table-licenses" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>License No.</th>
                        <th>Issue Date</th>
                        <th>Expiry Date</th>
                        <th>Issued By</th>
                        <th>File</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>

        </div>
    </div>
</div>


<!-- #region modal -->

<div class="modal fade" id="AddOrEditLicenses">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">

                <form id="licenses" method="post" name="licenses" enctype="multipart/form-data">

                    <div class="row-fluid">
                        <div class="form-group col-md-12">
                            <label>License Type</label>
                            @Html.DropDownList("LicenseIdl", new SelectList(Model.Licenses, "Id", "LicenseName"), "Select License", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-12">
                            <label>License Number</label>
                            <input type="text" class="form-control" id="LicenseNol" name="LicenseNol" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>Rank</label>
                            @Html.DropDownList("RankIdl", new SelectList(Model.Ranks, "Id", "RankName"), "Select Rank", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Issue Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" id="IssueDatel" name="IssueDatel" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Expiry Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" id="ExpiryDatel" name="ExpiryDatel" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Issued by</label>
                            <input type="text" class="form-control" id="IssuedByl" name="IssuedByl" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>Remarks</label>
                            <input type="text" class="form-control" id="Remarksl" name="Remarksl" />
                        </div>
                        <div class="form-group col-md-12">
                            <label>File Attachment</label>
                            <input id="ImageFileLicense" title="Upload a attachment"
                                   type="file" name="ImageFileLicense"/>
                        </div>
                        &nbsp;
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnLicenses">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>

        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- #endregion -->

<script>
    var table_licenses;
    $(document).ready(function () {
        $('#IssueDatel').datepicker({
            startDate: '',
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        });
        $('#ExpiryDatel').datepicker({
            startDate: '',
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        });
        table_licenses = $("#data-table-licenses").DataTable({
            "scrollX": true,
            "ajax": {
                "url": "@Url.Action("GetLicenses", "Applicants")",
                "type": "GET",
                "datatype": "application/json",
                "data": { 'id': $('#Id').val() }
            },
            "lengthChange": false,
            "searching": false,
            dom: "Bfrtip",
            buttons: {
                buttons: [
                    {
                        text: "New Licenses",
                        action: function (e, dt, node, config) {
                            $('#modal-title').text("Add New");
                            $("#AddOrEditLicenses").modal();
                        }
                    }
                ],
                dom: {
                    button: {
                        tag: "button",
                        className: "btn btn-default btn-sm"
                    },
                    buttonLiner: {
                        tag: null
                    }
                }
            },
            "columns": [
                { data: "LicenseName" },
                { data: "LicenseNo" },
                {
                    'data': 'IssueDate',
                    'render': function (data) {
                        return moment(data).format("MMM DD,YYYY");
                    }
                },
                {
                    'data': 'ExpiryDate',
                    'render': function (data) {
                        return moment(data).format("MMM DD,YYYY");
                    }
                },
                { data: "IssuedBy" },
                {
                    data: "FilePath",
                    render: function (data, type, row, meta) {
                        return (data === null) ? "" : '<a href="#" title="' + data + '" onclick="viewFile(\'' + data + '\')"><i class="fa fa-paperclip fa-lg"></i></a>';

                    }
                },
                {
                    data: "Id",
                    render: function (data) {
                        return '<button type="button" class="btn btn-danger" title="Delete" onclick="remove_license(\'' + data + '\')"><i class="fa fa-trash"></i></button>';
                    }
                }
            ],

        });

        $('#btnLicenses').on('click',function (e) {
            e.preventDefault();
           
            var formData = new FormData();
            var files = $('#ImageFileLicense')[0].files[0];
                formData.append('ImageFile', files);
                formData.append('LicenseId', $('#LicenseIdl').val());
                formData.append('RankId', $('#RankIdl').val());
                formData.append('IssueDate', $('#IssueDatel').val());
                formData.append('ExpiryDate', $('#ExpiryDatel').val());
                formData.append('IssuedBy', $('#IssuedByl').val());
                formData.append('LicenseNo', $('#LicenseNol').val());
                formData.append('Remarks', $('#Remarksl').val());
                formData.append('CrewId', $('#CrewId').val());
                $.ajax({
                    type: "POST",
                    url: "/Applicants/AddLicenses",
                    data: formData,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    success: function (response) {
                        $('#AddOrEditLicenses').modal('hide');
                        $('#LicenseNol').val('');
                        $('#IssueDatel').val('');
                        $('#ExpiryDatel').val('');
                        $('#IssuedByl').val('');
                        $('#Remarksl').val('');

                        table_licenses.ajax.reload();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
        });



        });

        
        function remove_license(id) {
            bootbox.confirm("Are you sure you want to delete this record?", function (result) {
                if (result) {
                    $.ajax({
                        url: "@Url.Action("DeleteLicenses","Applicants")/" + id,

                        success: function () {
                            table_licenses.ajax.reload();
                        }
                    });
                }
            });
        }
</script>

