@using SeaBase.Models
@model SeaBase.ViewModel.ApplicantVM
<div class="panel panel-default">
    <div class="panel-heading">Permanent Address</div>
    <div class="panel-body">



            <div class="col-md-2">
                @Html.LabelFor(m => m.CrewAddress.NoBldg)
                @Html.TextBoxFor(m => m.CrewAddress.NoBldg, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CrewAddress.NoBldg)

            </div>
            
            <div class="col-md-3">
                @Html.LabelFor(m => m.CrewAddress.StreetBarangay)
                @Html.TextBoxFor(m => m.CrewAddress.StreetBarangay, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CrewAddress.StreetBarangay)

            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.CrewAddress.MunicipalityCity)
                @Html.TextBoxFor(m => m.CrewAddress.MunicipalityCity, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CrewAddress.MunicipalityCity)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.CrewAddress.Province)
                @Html.TextBoxFor(m => m.CrewAddress.Province, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CrewAddress.Province)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.CrewAddress.Zipcode)
                @Html.TextBoxFor(m => m.CrewAddress.Zipcode, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CrewAddress.Zipcode)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.CrewAddress.AddressTelephoneNo)
                @Html.TextBoxFor(m => m.CrewAddress.AddressTelephoneNo, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CrewAddress.AddressTelephoneNo)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(m => m.MobileNo)
                @Html.TextBoxFor(m => m.MobileNo, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.MobileNo)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.CrewAddress.CountryId)
                @Html.DropDownListFor(m => m.CrewAddress.CountryId, new SelectList(Model.Countries, "Id", "Name"), "Select Country", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CrewAddress.CountryId)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.BirthDate)
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BirthDate)
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.BirthPlace)
                @Html.TextBoxFor(m => m.BirthPlace, new {@class = "form-control", @rows = "1"})
                @Html.ValidationMessageFor(m => m.BirthPlace)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Gender)
                @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(Crew.GenderType))),
                                                        "Select Gender", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Gender)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.CivilStatus)

                @Html.DropDownListFor(m => m.CivilStatus, new SelectList(Enum.GetValues(typeof(Crew.CivilStatusType))),
                                                        "Select Civil Status", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CivilStatus)
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Height)
                @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Height)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Weight)
                @Html.TextBoxFor(m => m.Weight, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Weight)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.BloodType)
                <select class="form-control" id="BloodType" name="BloodType">
                    <option value=""></option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
                @Html.ValidationMessageFor(m => m.BloodType)

            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.EyeColor)
                @Html.TextBoxFor(m => m.EyeColor, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.EyeColor)

            </div>
            <div class="col-md-3 mb-3">
                @Html.LabelFor(m => m.Nationality)
                @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Nationality)
            </div>
            <div class="col-md-3 mb-3">
                @Html.LabelFor(m => m.Religion)
                @Html.TextBoxFor(m => m.Religion, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Religion)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.ForeignLanguage)
                @Html.TextBoxFor(m => m.ForeignLanguage, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ForeignLanguage)

            </div>

            <div class="col-md-3 mb-3">
                @Html.LabelFor(m => m.Race)
                @Html.TextBoxFor(m => m.Race, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Race)

            </div>
        </div>
</div>
