
@using SeaBase.Models
@model SeaBase.ViewModel.ApplicantVM

<div class="panel panel-default">
    <div class="panel-heading">Work Experience</div>
    <div class="panel-body">


        <div class="tab-content">
            <table id="data-table-work-experience" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Vessel</th>
                        <th>Vessel type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Agency</th>
                        <th>Reason of Leave</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<!-- #region modal -->

<div class="modal fade" id="AddOrEditWorkExperience">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">

                <form id="workexperience" method="post" name="workexperience">
                    <div class="row-fluid">
                        <input type="hidden" id="Idw" name="Idw"/>
                        <div class="form-group col-md-12">
                            <label>Rank</label>
                            @Html.DropDownList("weRankId", new SelectList(Model.Ranks, "Id", "RankName"), "Select Rank", new {@class = "form-control"})
                        </div>

                        <div class="form-group col-md-12">
                            <label>Vessel Name</label>
                            <input type="text" class="form-control" id="weVesselName" name="weVesselName"/>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Vessel Type</label>
                            @Html.DropDownList("weVesselTypeId", new SelectList(Model.VesselTypes, "Id", "VesselTypeName"), "Select Vessel Type", new {@class = "form-control"})
                        </div>
                        <div class="form-group col-md-6">
                            <label>Start Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" id="weStartDate" name="weStartDate"/>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>End Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" id="weEndDate" name="weEndDate"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Manning Agency</label>
                            @Html.DropDownList("weManningAgencyId", new SelectList(Model.ManningAgencies, "Id", "AgencyName"), "Select Manning Agency", new {@class = "form-control"})
                        </div>
                        <div class="form-group col-md-12">
                            <label>Reason of Leave</label>
                            <input type="text" class="form-control" id="weResonOfLeave" name="weResonOfLeave"/>
                        </div>

                    </div>
                    @Html.AntiForgeryToken()
                    &nbsp;
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnWorkExperience">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- #endregion -->

<script>
    var table_work_experience;
    $(document).ready(function () {
        $('#weStartDate').datepicker({
            startDate: '',
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        });
        $('#weEndDate').datepicker({
            startDate: '',
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        });
        table_work_experience = $("#data-table-work-experience").DataTable({
            "scrollX": true,
            "ajax": {
                "url": "@Url.Action("GetWorkExperience", "Applicants")",
                "type": "GET",
                "datatype": "application/json",
                "data": { 'id': $('#Id').val() }
            },
            "lengthChange": false,
            "searching": false,
            dom: "Bfrtip",
            buttons: {
                buttons: [
                    {
                        text: "New Work Experience",
                        action: function (e, dt, node, config) {
                            $('#workexperience')[0].reset();
                            $('#modal-title').text("Add New");
                            $("#AddOrEditWorkExperience").modal();
                        }
                    }
                ],
                dom: {
                    button: {
                        tag: "button",
                        className: "btn btn-default btn-sm"
                    },
                    buttonLiner: {
                        tag: null
                    }
                }
            },
            "columns": [
                { data: "RankName" },
                { data: "VesselName" },
                { data: "VesselTypeName" },
                {
                    'data': 'StartDate',
                    'render': function (data) {
                        return moment(data).format("MMM DD,YYYY");
                    }
                },
                {
                    'data': 'EndDate',
                    'render': function (data) {
                        return moment(data).format("MMM DD,YYYY");
                    }
                },
                { data: "AgencyName" },
                { data: "ReasonOfLeave" },
                {
                    data: "Id",
                    render: function (data) {
                        return '<button type="button" class="btn btn-default "  title="Edit" onclick="edit_work_experience(\'' + data + '\')"><i class="fa fa-edit"></i></button> ' +
                            '<button type="button" class="btn btn-danger" title="Delete" onclick="remove_work_experience(\'' + data + '\')"><i class="fa fa-trash"></i></button>';
                    }
                }
            ],

        });

        $('#btnWorkExperience').on('click',function (e) {
            e.preventDefault();

            var formData = new FormData();
                formData.append('RankId', $('#weRankId').val());
                formData.append('VesselName', $('#weVesselName').val());
                formData.append('VesselTypeId', $('#weVesselTypeId').val());
                formData.append('StartDate', $('#weStartDate').val());
                formData.append('EndDate', $('#weEndDate').val());
                formData.append('ManningAgencyId', $('#weManningAgencyId').val());
                formData.append('ReasonOfLeave', $('#weResonOfLeave').val());
                formData.append('CrewId', $('#CrewId').val());
                formData.append('Id', $('#Idw').val());
            $.ajax({
                type: "POST",
                url: "/Applicants/AddWorkExperience",
                data: formData,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (response) {
                    $('#AddOrEditWorkExperience').modal('hide');
                    $('#tdDocumentId').val('');
                    $('#tdDocumentNo').val('');
                    $('#tdIssueDate').val('');
                    $('#tdExpiryDate').val('');
                    $('#tdPlaceIssued').val('');
                    $('#tdIssuedBy').val('');

                    table_work_experience.ajax.reload();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
});


    function remove_work_experience(id) {
        bootbox.confirm("Are you sure you want to delete this record?", function (result) {
            if (result) {
                $.ajax({
                    url: "@Url.Action("DeleteWorkExperience","Applicants")/" + id,

                    success: function () {
                        table_work_experience.ajax.reload();
                    }
                });
            }
        });
    }

    function edit_work_experience(id) {
        $.ajax({
            type: "GET",
            url: "/Applicants/EditWorkExperience",
            data: { 'id': id },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $('#Idw').val(response.Id);
                $('#weRankId').val(response.RankId);
                $('#weVesselName').val(response.VesselName);
                $('#weVesselTypeId').val(response.VesselTypeId);
                $('#weStartDate').val(moment(response.StartDate).format("MM/DD/YYYY"));
                $('#weEndDate').val(moment(response.EndDate).format("MM/DD/YYYY"));
                $('#weManningAgencyId').val(response.ManningAgencyId);
                $('#weResonOfLeave').val(response.ReasonOfLeave);
                $('#AddOrEditWorkExperience').modal('show');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>
