@using SeaBase.Models
@model SeaBase.ViewModel.ApplicantVM
@Styles.Render("~/AdminLTE/plugins/datepicker/styles")
@Styles.Render("~/AdminLTE/plugins/datatables/styles")

@{
    ViewBag.Title = "Applicants Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <style scoped>
        img {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 180px;
          height: 235px;
          object-fit: contain;
}
    </style>
}
<div class="loading" id="loading" name="loading"></div>


<section class="row">
    <div class="box-body">
        <div class="bs-example">
            @using (Html.BeginForm("Save", "Applicants", FormMethod.Post, new
            {
                enctype = "multipart/form-data",
                id = "form0"
            }))
            {

                
                            @Html.Partial("_PersonalData")
                            @Html.Partial("_PermanentAddress")
                            @Html.Partial("_NextOfKin")
                            @Html.Partial("_Uniforms")
                            @Html.Partial("_GovernmentInfo")
                            @Html.Partial("_PhilhealthInfo")
                            
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.StatusId)
                            @Html.HiddenFor(m => m.VesselId)
                            @Html.HiddenFor(m => m.ImagePath)
                            @Html.HiddenFor(m=>m.CrewFamilyBackground.CrewId)
                            if (ViewBag.Status != "New")
                            {
                                @Html.Partial("_FamilyBackground")
                                @Html.Partial("_Education")
                                @Html.Partial("_Licenses")
                                @Html.Partial("_Flags")
                                @Html.Partial("_TravelDocuments")
                                @Html.Partial("_TrainingCertificates")
                                @Html.Partial("_DocumentLibrary")
                                @Html.Partial("_Medical")
                                @Html.Partial("_Vaccine")
                                @Html.Partial("_WorkExperience")
                                @Html.Partial("_OfficeHistory")
                                
                            }
                            @Html.AntiForgeryToken()
                            <br/>
                            <br/>

                            <footer class="main-footer navbar-fixed-bottom" style="padding-top: 4px; padding-bottom: 4px">
                                <div class="pull-right hidden-xs">

                                    <button type="button" class="btn btn-primary" id="btnSaveApplication" name="btnSave">Save Application</button>
                                </div>
                                @if (ViewBag.Status != "New")
                                {
                                    <div class="pull-right" style="margin-right: 5px">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Menu
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">

                                                @switch (Model.StatusId)
                                                {
                                                    case 1:
                                                        <li><a href="#" onclick="SaveStatus(2)">Proceed to Pool</a></li>
                                                        break; // Always break each case
                                                    case 2:
                                                        <li><a href="#" onclick="SaveStatus(3)">Proceed to Operation</a></li>

                                                        break;
                                                    case 3:
                                                        <li><a href="#" onclick="viewVessels()">Accept and Move to Crew</a></li>

                                                        break;
                                                    default:

                                                        break;
                                                }


                                                <li><a href="#">Send Email</a></li>
                                                <li><a href="#">Send Message</a></li>
                                                <li><a href="#" onclick="Reject()">Reject Application</a></li>
                                            </ul>

                                        </div>
                                        

                                    </div>
                                
                                    <span><h4 style="padding-bottom: 2px">
                                    <strong>
                                        @Html.DisplayFor(m => m.Firstname)
                                    @Html.DisplayFor(m => m.MiddleName)
                                    @Html.DisplayFor(m => m.Lastname)
                                </strong><sup><small class="badge"> @ViewBag.Status</small></sup>
                                <strong>/@Html.DisplayFor(m=>m.RankName)</strong>
                                </h4></span>
                                }
                                    
                            </footer>
                       
            }
        </div>

                    </div>
</section>

<div class="modal fade" id="AddOrEdit">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">Hire Crew</h4>
            </div>
            <div class="modal-body">
                <table id="data-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Principal</th>
                            <th>Vessel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>



            </div>

        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--endregion -->

@section Scripts {
    @RenderPage("~/Views/Applicants/ApplicantScript.cshtml")
}
