@model SeaBase.ViewModel.EmbarkationViewModel
@Styles.Render("~/AdminLTE/plugins/datepicker/styles")
@Styles.Render("~/AdminLTE/plugins/datatables/styles")


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Embarkation";
}

<!--

    Principal

-->

<div class="box">
    <div class="box-body">
        @using (Html.BeginForm("Save", "Embarkations", FormMethod.Post,
            new { id = "form0", name = "form0" }))
        {
            @Html.ValidationSummary(true, "Please fix the following errors.")
            
            <div class="form-group col-md-2">
                @Html.LabelFor(m => m.EmbarkationCode)
                @Html.TextBoxFor(m => m.EmbarkationCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmbarkationCode)
            </div>
            <div class="form-group col-md-5">
                @Html.LabelFor(m => m.PrincipalId)
                @Html.DropDownListFor(m => m.PrincipalId, new SelectList(Model.Principals, "Id", "PrincipalName"), "Select Principal", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PrincipalId)
            </div>
            <div class="form-group col-md-5">
                @Html.LabelFor(m => m.VesselId)
                @Html.DropDownListFor(m => m.VesselId, new SelectList(Model.Principals, "Id", "PrincipalName"), "Select Principal", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.VesselId)
            </div>
    <div class="form-group col-md-9">
        @Html.LabelFor(m => m.DepartureAirportId)
        @Html.DropDownListFor(m => m.DepartureAirportId, new SelectList(Model.AirPorts, "Id", "AirportName"), "Select Airport", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DepartureAirportId)
    </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.DepartureDate)
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.DepartureDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DepartureDate)
                </div>
            </div>
            
            <div class="form-group col-md-9">
                @Html.LabelFor(m => m.PortOfEmbarkationId)
                @Html.DropDownListFor(m => m.PortOfEmbarkationId, new SelectList(Model.AirPorts, "Id", "AirportName"), "Select Airport", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PortOfEmbarkationId)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.EmbarkationDate)
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.EmbarkationDate, "{0:MM/dd/yyyy}", new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.EmbarkationDate)
                </div>
            </div>
            <div class="form-group col-md-9">
                @Html.LabelFor(m => m.ArrivalAirportId)
                @Html.DropDownListFor(m => m.ArrivalAirportId, new SelectList(Model.AirPorts, "Id", "AirportName"), "Select Airport", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ArrivalAirportId)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.TentativeDate)
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.TentativeDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TentativeDate)
                </div>
            </div>
            
            <div class="form-group col-md-9">
                @Html.LabelFor(m => m.PortOfDisembarkationId)
                @Html.DropDownListFor(m => m.PortOfDisembarkationId, new SelectList(Model.AirPorts, "Id", "AirportName"), "Select Airport", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.PortOfDisembarkationId)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.DisembarkationDate)
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.DisembarkationDate, "{0:MM/dd/yyyy}", new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.DisembarkationDate)
                </div>
            </div>
            
            <div class="form-group col-md-3">
                @Html.LabelFor(m => m.ContractDuration)
                @Html.TextBoxFor(m => m.ContractDuration,  new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ContractDuration)
            </div>
            <div>&nbsp;</div>
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <footer class="main-footer navbar-fixed-bottom" style="padding-top: 4px; padding-bottom: 4px">
                <div class="pull-right hidden-xs">

                    <button type="submit" class="btn btn-primary" id="btnSave" name="btnSave">Save Embarkation</button>
                </div>
            </footer>

        }
    </div>
</div>


@*<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Salary Scale</h3>

    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="form-inline">
            <div class="form-group">
                <label for="SalaryScaleName">Salary Scale:</label>
                <input type="text" class="form-control" id="SalaryScaleName">
            </div>

        </div>
        &nbsp;
        <table id="data-table-salary" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Rank/Position</th>
                    <th>Description</th>
                    <th>Monthly (USD)</th>
                    <th>Daily (USD)</th>
                    <th>Percentage</th>
                    <th>Days</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- ./box-body -->
</div>*@

@*<div class="modal fade" id="AddOrEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <label>Rank</label>
                    @Html.DropDownList("RankId", new SelectList(Model.Ranks, "Id", "RankName"), "Select Rank", new { @class = "form-control" })
                </div>
                <input type="text" id="IdSalaryDetails" />
                <div class="col-md-6">
                    <label>Description</label>
                    <input type="text" id="Description" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label>Monthly (USD)</label>
                    <input type="number" id="Monthly" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label>Daily (USD)</label>
                    <input type="number" id="Daily" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label>Percentage</label>
                    <input type="number" id="Percentage" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label>Days</label>
                    <input type="number" id="Days" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label>Remarks</label>
                    <input type="number" id="Remarks" class="form-control" />
                </div>
                <div class="col-md-12">
                    <label>Add to Total</label>
                    <input type="checkbox" id="AddToTotal" />
                </div>

                <div>&nbsp;</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSaveSalaryDetail">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>*@

<div>&nbsp;</div>
@section Scripts {
    @RenderPage("~/Views/Embarkations/EmbarkationFormScripts.cshtml")
}

