@using SeaBase.Models
@model SeaBase.ViewModel.UserViewModel
@Styles.Render("~/AdminLTE/plugins/datatables/styles")

@{
    ViewBag.Title = "User Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <style scoped>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            
            width: 150px;
            height: 150px;
            object-fit: contain;
        }
    </style>
}



<div id="overlay"></div>
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#tab_1-1" data-toggle="tab">@ViewBag.Title</a></li>
                @*<li><a href="#tab_2-2" data-toggle="tab">Individual Payor</a></li>*@
            </ul>
            <div class="tab-content">
                <table id="data-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            @*<th>Role</th>*@
                            <th>Position</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
    <!-- /.box-body -->
</div>

<div class="modal fade" id="AddOrEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">
              @using (Html.BeginForm("Save", "Users", FormMethod.Post, new
            {
                enctype = "multipart/form-data",
                id = "form0"
            }))
              {
                @Html.ValidationSummary(true, "Please fix the following errors.")
            <div class="form-group col-md-4">
                <a href="#">
                    <img class="media-object center" src="" alt="..." id="imgupload" name="imgupload">
                    <input id="ImageFile" title="Upload a product image"
                           type="file" name="ImageFile" style="display: none" accept="image/*" />
                </a>
            </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(m => m.Firstname)
                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Firstname)
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(m => m.Lastname)
                    @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Lastname)
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div> 
                <div class="form-group col-md-4">
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                    &nbsp;
                </div> 
                   
                <div class="form-group col-md-4">
                    @Html.LabelFor(m => m.ContactNo)
                    @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactNo)
                </div>
                   <div class="form-group col-md-3">
                       @Html.LabelFor(m => m.Gender)
                       @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof (Crew.GenderType))),
                           "Select Gender", new {@class = "form-control"})
                       @Html.ValidationMessageFor(m => m.Gender)
                   </div>
                    <div class="form-group col-md-5">
                        @Html.LabelFor(m => m.UserRoleId)
                        @Html.DropDownListFor(m => m.UserRoleId, new SelectList(Model.UserRoles, "Id", "RoleName"), "Select Role", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserRoleId)
                    </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Position)
                    @Html.TextBoxFor(m => m.Position, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Position)
                </div>
                <div>&nbsp;</div>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ImagePath)
                @Html.AntiForgeryToken()
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   </div>
               }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section Scripts {
    @RenderPage("~/Views/Users/ListScript.cshtml")
}



